
.bg-color{
background-color: gray;
display: flex;
flex-direction: column;
justify-content: space-around;
}
.chnge{
    border: 1px solid white;
    color: white ;
    background-color: gray;
    padding: 0 8px;
    border-radius: 3px;
    padding: 0 20px;
}
.purple{
    color: purple !important;
}
span{
    color: white;
}
p{
    color: white !important;
}
.yandex{
    border: 1px solid yellow;
    color: black;
    background-color: white;
     background-image: linear-gradient(to left,  #FFA751, #FFE259);
}
.post {
    top: 261px;
    left: 655px;
}
.graid{
     background-image: linear-gradient(to left, gray, black);
}
::-webkit-scrollbar{
width: 100%;
}